 .navbar{
    margin: 5px;
     padding: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    #height: 80px;
    background-color: white;
    }



 .navbar A{
     color: #7f7f7f;
     font-weight: bold;
     font-size: 110%;
 }

 .nav A:hover{
     color: #9fa7a7;
     text-decoration: none;
 }

 .navbar .btn-info{
     background-color: #59a3fc;
     color: white;
    font-weight: bold;
     font-size: 110%;
 }

 .navbar .btn-info:hover {
     background-color: #408ae3;
 }

